input[type=text]{
    /*Bar attributes*/
    width: 450px;
    height: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 5px grey;
    background-color: white;

    /*Text*/
    font-size: 18px;
    padding: 10px;
    
}

.container{
   display: flex;
}