<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div class="main-bar">
    <a id="homepage" title="Homepage" href="/user">Home</a>
    <a href="/user/bookmarks">Bookmarks</a>
    <a href="/logout">Logout</a>
</div>
<h2>Welcome user<span th:text="${user.id}"></span> </h2>
<h3>Bookmarks</h3>
<ul th:each="bookmark : ${bookmarks}">
    <li>
        <span  th:text="${bookmark.title}">id</span>
            <span>
                <button class="dltBtn"  th:code="${bookmark.code}" th:title="${bookmark.title}" >Delete</button>
                <button class="moreBtnBookmark" th:title="${bookmark.title}">More</button>
            </span>

    </li>
</ul>
<script src="../static/bookmarksscript.js" th:src="@{/bookmarksscript.js}"></script>
</body>
</html>
